// --------------------------------------------------------------------------------
// MIXINS - POSITION
// --------------------------------------------------------------------------------

// Shorthand mixin for offset positioning
// @param {String} $position - Either `relative`, `absolute` or `fixed`
// @param {Length} $top [null] - Top offset
// @param {Length} $right [null] - Right offset
// @param {Length} $bottom [null] - Bottom offset
// @param {Length} $left [null] - Left offset

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
// Example
// @include position(absolute, $top: 1em, $left: 50%);


@mixin position-relative-reset() {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}
// Example
// @include position-relative-reset();
